*
!frontend/src
!frontend/public
!frontend/package.json
!frontend/yarn.lock
!rust-backend/gen_cert.sh
!rust-backend/development_config
!rust-backend/typify.sqlite
!rust-backend/src
!rust-backend/Cargo.toml
!rust-backend/Rocket.toml