@keyframes changeBackgroundColour {
  from {
    background-color: black;
    color: white;
  }

  to {
    background-color: white;
    color: darkslategrey;
  }
}

.cursorBlink {
  animation-duration: 0.4s;
  animation-name: changeBackgroundColour;
  animation-iteration-count: infinite;
}

.keyRow {
  width: 100%;
  height: 60px;
  margin: 10px 0px 0px 0px;
}

.key {
  width: 55px;
  height: 55px;
  color: black;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px #474343, -5px -5px 10px #fff;
  font-size: 20px;
  margin-left: 5px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 10%;
}
.key:active {
  box-shadow: 1px 1px 2px #c2baba, -5px -5px 10px #fff;
}

.esc {
  background-color: red;
}
.backspace {
  width: 115px;
}
.tab {
  width: 85px;
}
.bar {
  width: 85px;
}
.caps {
  width: 116px;
}
.enter {
  width: 116px;
}
.shiftLeft,
.shiftRight {
  background-color: rgb(241, 241, 87);
}
.shiftLeft {
  width: 141px;
}
.shiftRight {
  width: 151px;
}
.bottomKey {
  width: 80px;
}
.space {
  width: 303px;
  border-radius: 5%;
}
.ctrlLeft,
.ctrlRight {
  background-color: rgb(29, 139, 93);
}
.winLeft,
.winRight {
  background-color: red;
}
.alt,
.altGr {
  background-color: purple;
}
.menuKey {
  background-color: green;
}
.active {
  box-shadow: 1px 1px 2px #c2baba, -5px -5px 10px #fff;
}
